h1{
    text-align: center;

    font-family: Times;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    margin-bottom: 1%;
    color: #ECBB3E;
}

form{
    margin-left: 18%;
}

form input{
    padding-left: 1em;
    align-items: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    width: 68%;
    border-radius: 2em;

    backdrop-filter: blur(4px);
} 

button{
    font-size: 16px;
    border: 1px solid #D20411;
    margin: 8px 0;
    padding: 0.9vw 2vw;
    border-radius: 2em;
}

img{
    position: absolute;
    width: auto;
    height: 120px;
    left: 153px;
    margin-top: 0px;
}

h5{
    width: 1070px;
    height: 0px;
    left: 236px;
    top: 236px;
    color: red;
}

hr{
    width: 65%;
    height: .1em;
    background-color: #D20411;
}

H2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-left: 17%;

    color: #ECBB3E;
}

#result{
    margin-left: 17%;
}

footer{
    position: absolute;
    width: 100%;
    height: 57px;
    left: 0px;
    top: 700px;
    background: #D20411;
}

footer .container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F5C64E;
}